<h3><%=link_to "TOP","/" %></h3>
<h2>フルーツルーレット</h2>
<div id="pointer">▼</div>
<h4 id="roulette"><%= image_tag "roulette.PNG", size: '300x300' %></h4>

<div class="buttons">
  <button type="button" id="stop" >ストップ</button>
  <button type="button" id="start">スタート</button>
  <button type="button" id="reset">リセット</button>
</div>

