<h3><%=link_to "TOP","/" %></h3>



<h3>色診断</h3>
<h4>この中から好きな色を選んでその色のところまでスクロールしてみてね</h4>
    <div class="c_box">
    <div class="box1"></div>赤
    <div class="box2"></div>黒
    <div class="box3"></div>緑
    <div class="box4"></div>青
    <div class="box5"></div>黄
    <div class="box6"></div>ピンク
    </div>

<h4>スクロールしてみてね</h4>

<div class="box area1">
  <p>赤を選んだあなた
  </br>頑張りすぎて疲れちゃうかも
  </br>適度にお休みも入れてね！</p></div>

<div class="box area2">
  <p>黒を選んだあなた
  </br>どの選択肢を選んでも上手くいきそう！！
  </br>あまり悩みすぎずチャレンジしてみて☆</p></div>

<div class="box area3">
  <p>緑を選んだあなた
  </br>少しお疲れ気味？たまにはティータイムでも取り入れてね</p></div>

<div class="box area4">
  <p>青色を選んだあなた
  </br>心が張り詰めた状態かも！？
  </br>何かあったら一人で悩まずすぐに相談しよう</p></div>

<div class="box area5">
  <p>黄色を選んだあなた
  </br>無理に明るくふるまってしまいがちなあなたに周りも心配してるかも
  </br>少しリラックスすると一気に周りとの距離も近づくかも！</p></div>

<div class="box area6">
  <p>ピンクを選んだあなた
  </br>少し気の迷いが見られます。
  </br>疑り深いあなたには匿名相談やとりあえずストレス発散してみると◎</p></div>