<h3><%=link_to "TOP","/" %></h3>



<h3>色診断</h3>
<h4>この中から好きな色を選んでその色のところまでスクロールしてみてね</h4>
    <div class="c_box">
    <div class="box1"></div>赤
    <div class="box2"></div>黒
    <div class="box3"></div>緑
    <div class="box4"></div>青
    <div class="box5"></div>黄
    <div class="box6"></div>ピンク
    </div>

<h4>スクロールしてみてね</h4>

<div class="box area1">
  <p>赤を選んだあなた
  </br>頑張りすぎて疲れちゃうかも
  </br>適度にお休みも入れてね！</p>
  <h4>ラッキーアイテムは..</h4>

  <div class="et_pb_module">
  <button id="fuu" class='secList'>食べ物</button>
  </div>

  <div class="et_pb_module">
    <button id="euu" class='secList'>飲み物</button>
  </div>

  <div class="et_pb_module">
    <button id="guu" class='secList'>その他</button>
  </div>

  <!-- Sections -->
  <div class="fuu section">
    <h2>食べ物</h2>
    <p>カレーライス</p>
  </div>

  <div class="euu section">
    <h2>飲み物</h2>
    <p>烏龍茶</p>
  </div>

  <div class="guu section">
    <h2>その他</h2>
    <p>クマの木彫り</p>
  </div>
</div>




<div class="box area2">
  <p>黒を選んだあなた
  </br>どの選択肢を選んでも上手くいきそう！！
  </br>あまり悩みすぎずチャレンジしてみて☆</p>
    <h4>ラッキーアイテムは..</h4>

  <div class="et_pb_module">
  <button id="fuu" class='secList'>食べ物</button>
  </div>

  <div class="et_pb_module">
    <button id="euu" class='secList'>飲み物</button>
  </div>

  <div class="et_pb_module">
    <button id="guu" class='secList'>その他</button>
  </div>

  <!-- Sections -->
  <div class="fuu section">
    <h2>食べ物</h2>
    <p>肉まん</p>
  </div>

  <div class="euu section">
    <h2>飲み物</h2>
    <p>レモン水</p>
  </div>

  <div class="guu section">
    <h2>その他</h2>
    <p>眼鏡</p>
  </div>
</div>

<div class="box area3">
  <p>緑を選んだあなた
  </br>少しお疲れ気味？たまにはティータイムでも取り入れてね</p>
    <h4>ラッキーアイテムは..</h4>

  <div class="et_pb_module">
  <button id="fuu" class='secList'>食べ物</button>
  </div>

  <div class="et_pb_module">
    <button id="euu" class='secList'>飲み物</button>
  </div>

  <div class="et_pb_module">
    <button id="guu" class='secList'>その他</button>
  </div>

  <!-- Sections -->
  <div class="fuu section">
    <h2>食べ物</h2>
    <p>パスタ</p>
  </div>

  <div class="euu section">
    <h2>飲み物</h2>
    <p>コーラ</p>
  </div>

  <div class="guu section">
    <h2>その他</h2>
    <p>国旗</p>
  </div>
  </div>

<div class="box area4">
  <p>青色を選んだあなた
  </br>心が張り詰めた状態かも！？
  </br>何かあったら一人で悩まずすぐに相談しよう</p>
    <h4>ラッキーアイテムは..</h4>

  <div class="et_pb_module">
  <button id="fuu" class='secList'>食べ物</button>
  </div>

  <div class="et_pb_module">
    <button id="euu" class='secList'>飲み物</button>
  </div>

  <div class="et_pb_module">
    <button id="guu" class='secList'>その他</button>
  </div>

  <!-- Sections -->
  <div class="fuu section">
    <h2>食べ物</h2>
    <p>焼き魚</p>
  </div>

  <div class="euu section">
    <h2>飲み物</h2>
    <p>抹茶ラテ</p>
  </div>

  <div class="guu section">
    <h2>その他</h2>
    <p>可愛い文房具</p>
  </div>
  </div>

<div class="box area5">
  <p>黄色を選んだあなた
  </br>無理に明るくふるまってしまいがちなあなたに周りも心配してるかも
  </br>少しリラックスすると一気に周りとの距離も近づくかも！</p>
    <h4>ラッキーアイテムは..</h4>

  <div class="et_pb_module">
  <button id="fuu" class='secList'>食べ物</button>
  </div>

  <div class="et_pb_module">
    <button id="euu" class='secList'>飲み物</button>
  </div>

  <div class="et_pb_module">
    <button id="guu" class='secList'>その他</button>
  </div>

  <!-- Sections -->
  <div class="fuu section">
    <h2>食べ物</h2>
    <p>お浸し</p>
  </div>

  <div class="euu section">
    <h2>飲み物</h2>
    <p>緑茶</p>
  </div>

  <div class="guu section">
    <h2>その他</h2>
    <p>無地のハンカチ</p>
  </div>
  </div>

<div class="box area6">
  <p>ピンクを選んだあなた
  </br>少し気の迷いが見られます。
  </br>疑り深いあなたには匿名相談やとりあえずストレス発散してみると◎</p>
    <h4>ラッキーアイテムは..</h4>

  <div class="et_pb_module">
  <button id="fuu" class='secList'>食べ物</button>
  </div>

  <div class="et_pb_module">
    <button id="euu" class='secList'>飲み物</button>
  </div>

  <div class="et_pb_module">
    <button id="guu" class='secList'>その他</button>
  </div>

  <!-- Sections -->
  <div class="fuu section">
    <h2>食べ物</h2>
    <p>ゼリー</p>
  </div>

  <div class="euu section">
    <h2>飲み物</h2>
    <p>フルーツティー</p>
  </div>

  <div class="guu section">
    <h2>その他</h2>
    <p>フェイスパック</p>
  </div>
  </div>

  <span id="back">
      <a href="#">
        <%= image_tag "arrow.png" %>
      </a>
    </span>