<h3><%=link_to "TOP","/" %></h3>
<h4>スクロールしてみてね</h4>
<div class="box area1"><p>ここは赤色の背景です</p></div>
<div class="box area2"><p>ここは黒色の背景です</p></div>
<div class="box area3"><p>ここは緑色の背景です</p></div>
<div class="box area4"><p>ここは青色の背景です</p></div>
<div class="box area5"><p>ここは黄色の背景です</p></div>
<div class="box area6"><p>ここはピンク色の背景です</p></div>