<div class="lot">
  <h1>ガチャくじ</h1>
  <h4><%= image_tag "gachagacha.png", size: '400x400' %></h4>
  <button class="omikuji_btn">くじを引く</button>
  <p class="omikuji_text"></p>
  <h3 class="omikuji_name"></h3>
</div>