<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>
<h1 class="jquery">Hello jQuery!</h1>


  <!-- ページネーションの要素 -->
  <div class="swiper-pagination"></div>
  <!-- ナビゲーションボタン （前、次） -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>