@use '~bootstrap/scss/bootstrap';

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lot{
  text-align: center;
}

.roulette{
  transform: rotate(360deg);
  transition: transform 2s;
}

/*トップページ・上に戻るボタン*/
h1 {
  text-align: center;
  margin: 20px 0;
}


#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#back img {
  width: 50px;
}

body{
  text-align: center;
}

/*トップページタブ*/
#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}


.rotate {
  animation: rotate-anime 0.4s linear infinite;
}
@keyframes rotate-anime {
  0%    { transform: rotate(0); }
  100%  { transform: rotate(360deg); }
}

#pointer{
  font-size: xx-large;
}

.stop {
  animation-play-state: paused;

}

/*.button{*/
  /*display: flex;*/
  /*justify-content: center;*/
#stop{
  width: 100px;
  height: 50px;
}

#start{
  width: 100px;
  height: 50px;
}

#reset{
  width: 100px;
  height: 50px;
}

#tab1{
  color: green;
}




.anime_box{
  background:#01579B;
  width:100%;
  overflow: hidden;
}

.cat{

  font-size:2em;
  color:#FFF;
  animation: flowing 10s linear infinite;
  transform: translateX(100%);/*初期位置*/
}


@keyframes flowing {
  0% {
    transform: translateX(-100%);
  }

}

/*カラーページ*/
.box {
    height: 800px;
    display: none;
}

.area1 {
 background: red;
}

.area2 {
 background: black;
 color: white;
}

.area3 {
 background: green;
}
.area4 {
 background: blue;
}

.area5 {
 background: yellow;
}

.area6 {
 background: pink;
}

p{

    font-size: 30px;
    padding-top: 150px;
    text-align: center;
}



.c_box{
  margin:50px;
  padding-left: 150px;
  display: flex;
}

.box1{
  margin-left:50px;
  width: 100px;
  height: 100px;
  background-color:red;
}

.box2{
  margin-left:25px;
  width: 100px;
  height: 100px;
  background-color:black;
}

.box3{
  margin-left:25px;
  width: 100px;
  height: 100px;
  background-color:green;
}

.box4{
  margin-left:25px;
  width: 100px;
  height: 100px;
  background-color:blue;
}

.box5{
  margin-left:25px;
  width: 100px;
  height: 100px;
  background-color:yellow;
}

.box6{
  margin-left:25px;
  width: 100px;
  height: 100px;
  background-color:pink;
}

