// Place all the styles related to the weathers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.wrap{

}
#card{
  margin: auto;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
  perspective: 100px;
  transform-style: preserve-3d;
  transition: transform .8s;
}

.card-front, .card-back{
  margin: auto;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
  position: absolute;
  backface-visibility: hidden;
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
}

.card-front{
  background: blue;
  transform: rotateY(180deg);
}

.card-back{
  background: red;
}

.mekuru{
  transform: rotateY(180deg)
}